#TODO

In the setup shell script add functionality to handle fixing unmet dependencies and --fix-broken install, etc..

# auto this
You might want to run 'apt --fix-broken install' to correct these.

# auto this
The following packages have unmet dependencies:
 libmariadb3 : Depends:


I've made several changes to the unmet dependency hell, and nada
add the gawk package to the script
gawk mariadb-common mysql-common policycoreutils python-matplotlib-data unixodbc-common and gawk-doc




error cmds receiving after my edits
```shell
You might want to run 'apt --fix-broken install' to correct these.
The following packages have unmet dependencies:
 libmariadb3 : Depends: mariadb-common but it is not installed
 libodbcinst2 : Depends: unixodbc-common (>= 2.3.11-2+deb12u1) but it is not installed
 policycoreutils-dev : Depends: policycoreutils (>= 3.4) but it is not installed
 policycoreutils-python-utils : Depends: policycoreutils (>= 3.4) but it is not installed
 python3-matplotlib : Depends: python-matplotlib-data (>= 3.6.3) but it is not installed
 selinux-basics : Depends: policycoreutils (>= 3.1) but it is not installed
                  Recommends: selinux-policy-default but it is not installed
 selinux-policy-dev : Depends: gawk but it is not installed
                      Depends: policycoreutils (>= 3.4) but it is not installed
E: Unmet dependencies. Try 'apt --fix-broken install' with no packages (or specify a solution).
[+] Installing Python 3, pip, and python3-tk...
Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
python3 is already the newest version (3.11.2-1+b1).
python3-pip is already the newest version (23.0.1+dfsg-1).
python3-tk is already the newest version (3.11.2-3).
You might want to run 'apt --fix-broken install' to correct these.
The following packages have unmet dependencies:
 libmariadb3 : Depends: mariadb-common but it is not going to be installed
 libodbcinst2 : Depends: unixodbc-common (>= 2.3.11-2+deb12u1) but it is not going to be installed
 policycoreutils-dev : Depends: policycoreutils (>= 3.4) but it is not going to be installed
 policycoreutils-python-utils : Depends: policycoreutils (>= 3.4) but it is not going to be installed
 python3-matplotlib : Depends: python-matplotlib-data (>= 3.6.3) but it is not going to be installed
 selinux-basics : Depends: policycoreutils (>= 3.1) but it is not going to be installed
                  Recommends: selinux-policy-default but it is not going to be installed
 selinux-policy-dev : Depends: gawk but it is not going to be installed
                      Depends: policycoreutils (>= 3.4) but it is not going to be installed
E: Unmet dependencies. Try 'apt --fix-broken install' with no packages (or specify a solution).
[-] System update failed.



```