# Core system libraries
shlex
subprocess
sys
os
logging
threading
datetime
pexpect
shutil


# GUI 
tkinter
pyttk

# SEC/MONITOR
lynis
fail2ban
ufw
apparmor
firejail
debsums
tcpd

# PKG MANAGER/ TOOLS
requests
setuptools