#!/bin/bash
########################################
#            HARDN - Requirements      #
#  Please have repo cloned before hand #
#       Installs + Pre-config          #
#    Must have python-3 loaded already #
#       Author: Tim "TANK" Burns       #
########################################

# Now using apt to minimalize roadblocks 

# GUI 
tkinter

# Libraries for Net and pkg managing 
requests
setuptools
pexpect
python3-tk